<div class="container-button">
  <h1>Lista de Empresas Externas</h1>
  <button class="btn btn-primary" (click)="openModalForNew()">Adicionar Novo</button>
</div>
<div class="container">
  <table class="table table-striped custom-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome da Empresa</th>
        <th>Número de Colaboradores</th>
        <th>Ativo</th>
        <th>Data de Criação</th>
        <th>Último Envio</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of displayedCompanies; let i = index">
        <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
        <td>{{ company.companyName }}</td>
        <td>{{ company.collaboratorsCount }}</td>
        <td>{{ company.isActive ? 'Sim' : 'Não' }}</td>
        <td>{{ company.createdAt }}</td>
        <td>{{ company.lastSubmit }}</td>
        <td>
          <button class="btn btn-secondary" (click)="openModal(company)">Editar</button>
          <button class="btn btn-secondary" (click)="deleteCompanies(i); $event.stopPropagation()">Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pagination-controls">
    <button class="btn btn-secondary" (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
    <span>{{ currentPage }} de {{ totalPages }}</span>
    <button class="btn btn-secondary" (click)="nextPage()" [disabled]="currentPage === totalPages">Próxima</button>
  </div>
  <app-modal (save)="saveCompanies($event)">
  </app-modal>
