.custom-table {
  width: 100%;
  border: 1px solid #6a0dad;
  margin-top: 1rem;
}

.custom-table thead {
  background-color: #6a0dad;
  color: white;
}

.custom-table tbody tr:nth-child(odd) {
  background-color: #f3e5f5;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #e1bee7;
}

.custom-table td, .custom-table th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  padding: 0.5rem;
  height: 14px;
}

.pagination-controls {
  display: flex;
  margin-top: 10px;
}

.pagination-controls span {
  margin: auto 10px;
  font-weight: bold;
}

.action-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 8px;
}

.action-icon:hover {
  transform: scale(1.1);
}

.container-button{
  justify-content: space-between;
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 1rem;
}

.btn-primary {
  background-color: #6a0dad;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #531b93;
}

.pagination-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.btn-secondary{
  background-color: #6a0dad;
  border: none;
  color: white;
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-controls button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}
