<div class="container-dashboard">
  <div class="container-texts">
    <div class="container-texts">
      <h2 class="typing-effect">Olá, bem vindo! </h2>
      <p class="slide-in">Este projeto foi desenvolvido como um desafio técnico e utiliza micro front-ends com Angular. Explore o menu para conhecer mais sobre suas funcionalidades e arquitetura.</p>
    </div>
    <h2 class="slide-in">Sobre a Aplicação</h2>
    <p class="slide-in">sta aplicação foi desenvolvida com o objetivo de gerenciar parceiros e empresas externas de forma eficiente, permitindo operações de cadastro, edição e exclusão, além de oferecer funcionalidades de paginação e compartilhamento de dados entre usuários. A arquitetura de micro front-ends foi adotada para permitir a separação das funcionalidades por domínios, facilitando a manutenção e evolução do sistema.</p>
    <h2 class="slide-in">Tecnologias Utilizadas</h2>
    <p class="slide-in">O projeto utiliza uma abordagem de micro front-ends para destacar as vantagens de modularidade e independência de equipes. As telas eem Angular na versão 15. </p>
  </div>

</div>
