.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f3e5f5;
  color: rgb(56, 56, 56);
}

.navbar-menu a {
  margin-right: 20px;
  color: rgb(56, 56, 56);
  text-decoration: none;
  position: relative;
}

.navbar-menu a:hover {
  border-bottom: 2px solid #4b0082;
}

.profile-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.profile-menu {
  position: absolute;
  right: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.profile-menu a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.profile-menu a:hover {
  border-bottom: 1px solid #4c00824d;
}
